@font-face {
  font-family: "Cooper Lt BT";
  src: url("../fonts/CooperBT-Bold.woff2") format("woff2"),
    url("../fonts/CooperBT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Medium.woff2") format("woff2"),
    url("../fonts/AvenirNext-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hobo Std";
  src: url("../fonts/HoboStd.woff2") format("woff2"),
    url("../fonts/HoboStd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
