.header {
  position: relative;
  background-color: $white;
  &__row {
    padding: 1rem 0;
    height: 5rem;
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    img {
      width: 10rem;
    }
  }
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "Cooper Lt BT";
    line-height: 1.22;
  }
  &__menutoggle {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 2px $primary;
    z-index: 110;
    position: absolute;
    background: $white;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: none;
    svg {
      width: 2rem;
      height: 2rem;
      fill: $primary;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      &.header__toggle1 {
        opacity: 1;
      }
    }
    &:hover,
    &.menuactive {
      background-color: $primary;
      svg {
        fill: $white;
      }
    }
    &.menuactive {
      position: fixed;
      top: 15px;
      transform: translateY(0);
      svg {
        opacity: 1;
        &.header__toggle1 {
          opacity: 0;
        }
      }
    }
  }
  &__cart {
    a {
      position: relative;
      padding-right: 2.15rem;
      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
    span {
      position: absolute;
      right: 0.4rem;
      bottom: 0.2rem;
      font-size: 14px;
      min-width: 1rem;
      text-align: center;
    }
    svg {
      position: absolute;
      right: 0;
      bottom: -0.05rem;
      width: 1.75rem;
      height: 1.75rem;
    }
    &.active {
      svg {
        fill: $primary;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  body {
    &.menuactive {
      overflow: hidden;
    }
  }

  .header {
    &__menu {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      padding: 2rem;
      z-index: 99;
      flex-direction: column;
      background: $black_90;
      color: $white;
      text-transform: uppercase;
      display: none;
      overflow-y: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      > li {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.75rem 0;
        > a {
          display: block;
          color: $white;
          &:hover {
            color: $primary;
          }
        }
        &.active {
          > a {
            color: $primary;
          }
        }
      }
    }
    &.menuactive {
      .header {
        &__menu {
          display: flex;
        }
      }
      .socialbtns {
        display: block;
        li {
          a {
            svg {
              fill: $white;
            }
            &:hover {
              svg {
                fill: $grey__24;
              }
            }
          }
        }
      }
    }
    &__cart {
      svg {
        fill: $white;
      }
      &.active {
        svg {
          fill: $primary;
        }
      }
    }
    .socialbtns {
      position: fixed;
      right: 50%;
      transform: translatex(50%);
      bottom: 2rem;
      display: none;
      z-index: 999;
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    &__row {
      padding: 1rem 0;
      height: 12.5rem;
    }
    &__logo {
      img {
        width: 18.75rem;
      }
    }
    &__menu {
      margin: 1.375rem 0 0;
      > li {
        padding-right: 1.5625rem;
        display: inline-block;
        vertical-align: top;
        &:last-child {
          padding-right: 0;
        }
        > a {
          display: block;
          &:hover {
            color: $primary;
          }
        }
        &.active {
          > a {
            color: $primary;
          }
        }
      }
    }
    .socialbtns {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }
}
