.banner {
  position: relative;
  &.text {
    &-primary {
      background-color: $grey__24;
    }
    &-white {
      background-color: $primary;
    }
  }
  &__row {
    padding: 3rem 0 7.75rem;
    align-items: center;
  }
  &-full-h {
    min-height: calc(100vh - 5rem);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    background-color: $light;
    background-image: url("../images/banner-icons.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: 40rem;
  }
  .btn {
    margin-top: 2.25rem;
  }
  &__btns {
    list-style: none;
    margin: 2.25rem 0 0;
    padding: 0;
    li {
      margin: 0 0.75rem 0.35rem;
      display: inline-block;
      vertical-align: top;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .btn {
        margin-top: 0;
      }
    }
  }
}

.ctalist {
  list-style: none;
  margin: 2.25rem 0 0;
  padding: 0;
  li {
    margin: 0 0.75rem 0.35rem;
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.contentarea {
  p {
    margin-bottom: 1.25rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  &:not(.text-white) {
    h3 {
      color: $secondary;
    }
  }
  &.primary {
    background-color: $primary;
  }
  &.light {
    background-color: $grey__24;
  }
  &.white {
    background-color: $white;
  }
}

.contactarea {
  p {
    margin-bottom: 1.25rem;
    font-size: 1.05rem;
    font-family: "Cooper Lt BT";
    font-weight: 700;
  }
  h2 {
    margin-bottom: 2rem;
  }
  h5 {
    margin: 1.25rem 0 0.75rem;
    font-size: 1.35rem;
    color: $primary;
  }
  form {
    margin-top: 2.5rem;
  }
  .mapbox {
    margin-top: 2.5rem;
    padding-bottom: 52%;
    position: relative;
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  h4 {
    margin: 2.5rem 0 0.5rem;
    font-weight: 500;
    font-family: "Hobo Std";
  }
  .btn {
    margin-top: 1.15rem;
    min-width: 13rem;
  }
  .form-control {
    margin-bottom: 0.75rem;
  }
  label {
    text-align: left;
  }
  &:not(.text-white) {
    h4 {
      color: $primary;
    }
    h3 {
      padding-top: 8rem;
      position: relative;
      padding-bottom: 2rem;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url(../images/curve-bg.svg);
      padding-bottom: 2rem;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 10.875rem;
        height: 5.875rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/logo-h.svg);
      }
    }
  }
  &.primary {
    background-color: $primary;
  }
  &.light {
    background-color: $grey__24;
  }
  &.white {
    background-color: $white;
  }
}

.carousel {
  &.featureprods {
    background-color: $secondary;
    .carousel {
      &-item {
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-color: $black;
          opacity: 0.75;
        }
        > img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          z-index: -2;
        }
      }
      &-content {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        max-width: 23.75rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: $white;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
        h3 {
          color: $primary;
          margin-bottom: 2.75rem;
        }
        h2 {
          margin: 0 0 1.875rem;
        }
        .btn {
          margin-top: 1.15rem;
        }
      }
    }
  }
  &-control-next,
  &-control-prev {
    width: 2.75rem;
    svg {
      width: 2.5rem;
      height: 2.5rem;
      border: 2px solid $primary;
      background-color: $white;
      border-radius: 50%;
      padding: 0.7rem;
      path {
        fill: none;
        stroke: $primary;
      }
    }
    &:hover {
      svg {
        background-color: $primary;
        path {
          stroke: $white;
        }
      }
    }
  }
}

.instaposts {
  padding: 3rem 0 0;
  h4 {
    font-size: 1rem;
  }
  h2 {
    margin: 0 0 2rem;
  }
  .container-fluid {
    width: calc(100% - 2px);
  }
  .col {
    padding: 2px 1px;
    a {
      display: block;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

.footer {
  background: $primary;
  padding: 3.5rem 0;
  position: relative;
  font-size: 1.125rem;
  a {
    &:hover {
      color: $light;
      opacity: 0.75;
    }
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 2rem;
    img {
      display: block;
      margin: 0 auto;
      width: 10rem;
    }
  }
  &__tel {
    display: inline-block;
    vertical-align: top;
    font-size: 1.85rem;
    font-weight: 500;
    font-family: "Hobo Std";
  }
  &__brand {
    position: absolute;
    bottom: 0.85rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  .banner {
    &__row {
      padding: 4rem 0 8.75rem;
    }
    &-full-h {
      min-height: calc(100vh - 12.5rem);
    }
  }

  .carousel {
    &.featureprods {
      .carousel {
        &-item {
          &:before {
            opacity: 0;
          }
          > img {
            width: 50%;
          }
        }
        &-content {
          padding-top: 5.625rem;
          padding-bottom: 5.625rem;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    &-control-next,
    &-control-prev {
      width: 4.75rem;
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .footer {
    padding: 5rem 0;
  }

  .contentarea {
    font-size: 1.15rem;
    p {
      margin-bottom: 1.25rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    padding: 6.875rem 0;
    &__logo {
      img {
        width: 18.75rem;
      }
    }
  }

  .contentarea {
    font-size: 1.25rem;
  }

  .banner {
    &:after {
      background-size: 52rem;
    }
  }
}
