.banner {
  position: relative;
  &.text {
    &-primary {
      background-color: $grey__24;
    }
    &-white {
      background-color: $primary;
    }
  }
  &__row {
    padding: 4rem 0 8.75rem;
    align-items: center;
  }
  &-full-h {
    min-height: calc(100vh - 12.5rem);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    background-color: $light;
    background-image: url("../images/logo-group.svg");
    background-position: center;
    background-repeat: repeat-x;
  }
  .btn {
    margin-top: 2.25rem;
  }
}

.carousel {
  &.featureprods {
    .carousel {
      &-item {
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-color: $black;
          opacity: 0.75;
        }
        > img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          z-index: -2;
        }
      }
      &-content {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        max-width: 23.75rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: $white;
        h3 {
          color: $primary;
          margin-bottom: 2.75rem;
        }
        h2 {
          margin: 0 0 1.875rem;
        }
        .btn {
          margin-top: 1.15rem;
        }
      }
    }
  }
  &-control-next,
  &-control-prev {
    svg {
      width: 3rem;
      height: 3rem;
      border: 2px solid $primary;
      background-color: $white;
      border-radius: 50%;
      padding: 0.7rem;
      path {
        fill: none;
        stroke: $primary;
      }
    }
    &:hover {
      svg {
        background-color: $primary;
        path {
          stroke: $white;
        }
      }
    }
  }
}

.instaposts {
  padding: 3rem 0 0;
  h4 {
    font-size: 1rem;
  }
  h2 {
    margin: 0 0 2rem;
  }
  .container-fluid {
    width: calc(100% - 2px);
  }
  .col {
    padding: 2px 1px;
    a {
      display: block;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

.footer {
  background: $primary;
  padding: 6.875rem 0;
  position: relative;
  font-size: 1.125rem;
  a {
    &:hover {
      color: $light;
    }
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 2rem;
    img {
      display: block;
      margin: 0 auto;
      width: 18.75rem;
    }
  }
  &__tel {
    display: inline-block;
    vertical-align: top;
    font-size: 1.85rem;
    font-weight: 500;
    font-family: "Hobo Std";
  }
  &__brand {
    position: absolute;
    bottom: 0.85rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  .carousel {
    &.featureprods {
      .carousel {
        &-item {
          &:before {
            opacity: 1;
            width: 50%;
            background-color: $secondary;
          }
          > img {
            width: 50%;
          }
        }
        &-content {
          padding-top: 5.625rem;
          padding-bottom: 5.625rem;
        }
      }
    }
  }
}
