.banner {
  position: relative;
  &.text {
    &-primary {
      background-color: $secondary__24;
    }
    &-light {
      background-color: $primary;
    }
  }
  &__row {
    padding: 4rem 0 8.75rem;
    align-items: center;
  }
  &-full-h {
    min-height: calc(100vh - 12.5rem);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    background-color: $light;
    background-image: url("../images/logo-group.svg");
    background-position: center;
    background-repeat: repeat-x;
  }
  .btn {
    margin-top: 3rem;
  }
}
