button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
img,
button,
button svg,
a::before,
a::after,
a svg,
a span,
a strong {
  @include transition;
}

a:focus {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: $primary;
}
.text {
  &-white {
    h1,
    h2,
    h3 {
      color: $white;
    }
  }
}
h2 {
  text-transform: uppercase;
}

@include media-breakpoint-up(md) {
  .pb-6,
  .py-6 {
    padding-bottom: 8rem !important;
  }

  .pt-6,
  .py-6 {
    padding-top: 8rem !important;
  }
}
