button[class*="_tip"] {
  display: inline-block;
  font-family: "Hobo Std", sans-serif;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $light;
  border: 2px solid $primary;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: $primary;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 3rem;
  margin: 0.25rem 0;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.woo_order_tip_custom_text_field {
  margin: 0.25rem 0 0.5rem;
}

#wooot_order_tip_form {
  padding: 0 0 1rem;
}

.woo_order_tip.active {
  background-color: $primary !important;
  color: $white !important;
}
