$primary: #cc322b;
$white: #fff !default;
$light: #f3f0e0;
$black: #000000 !default;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-family-sans-serif: "Roboto", sans-serif;
$headings-font-weight: 500 !default;
$h1-font-size: $font-size-base * 2.25 !default;
$h2-font-size: $font-size-base * 1.8 !default;
$h3-font-size: $font-size-base * 1.45 !default;
$h4-font-size: $font-size-base * 1.375 !default;

$btn-padding-y: 0.9375rem;
$btn-padding-x: 1.25rem;
$btn-font-weight: 500;
$btn-line-height: 1.13;
$border-radius: 3rem;
$btn-border-width: 2px;
$btn-padding-y-sm: 0.5rem !default;
$btn-padding-x-sm: 1.125rem !default;
$btn-border-radius-sm: 0 !default;
$btn-focus-width: 0;

$link-color: inherit;
$link-hover-color: $primary;
$link-hover-decoration: none;

$input-border-color: rgba(0, 0, 0, 0.15);
$input-border-radius-sm: 0;
$input-border-width: 1px;
$input-padding-x: 0.9375rem;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-height: 2.8rem;

// Spacers
$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 3.5,
  ),
);

// Container Max Widths
$container-max-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;
