$primary: #cc322b;
$danger: #cc322b;
$secondary: #b49768;
$grey: #f5e7cd;
$grey__24: rgba($grey, 0.24);
$white: #fff !default;
$light: #f3f0e0;
$light_24: rgba($light, 0.24);
$lightdark: #444444;
$lightdark_50: #e3e3e3;
$black: #000000 !default;
$black_90: rgba($black, 0.9);
$black_15: rgba($black, 0.15);
$black_20: rgba($black, 0.2);
$success: #50ca94;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-family-sans-serif: "Avenir Next", sans-serif;
$headings-font-weight: 700 !default;
$headings-font-family: "Cooper Lt BT";
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 2 !default;
$h4-font-size: $font-size-base * 1.15 !default;

$btn-padding-y: 0.9375rem;
$btn-padding-x: 1.25rem;
$btn-font-weight: 500;
$btn-font-size: 0.9375rem;
$btn-font-family: "Hobo Std", sans-serif;
$btn-line-height: 1;
$border-radius: 3rem;
$btn-border-width: 2px;
$btn-padding-y-sm: 0.5rem !default;
$btn-padding-x-sm: 1.25rem !default;
$btn-border-radius-sm: 3rem !default;
$btn-focus-width: 0;

$link-color: inherit;
$link-hover-color: $primary;
$link-hover-decoration: none;

$input-border-color: $black_15;
$input-border-radius: 0.15rem;
$input-border-width: 1px;
$input-padding-x: 0.9375rem;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-height: 2.8rem;

// Carousel
$carousel-control-color: $primary !default;
$carousel-control-width: 4.75rem !default;
$carousel-control-opacity: 1 !default;
$carousel-control-hover-opacity: 1 !default;
$carousel-control-transition: all 0.15s ease !default;
$carousel-indicator-width: 30px !default;
$carousel-indicator-height: 3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer: 3px !default;
$carousel-indicator-active-bg: $white !default;
$carousel-indicator-transition: all 0.6s ease !default;
$carousel-caption-width: 100% !default;
$carousel-caption-color: inherit !default;
$carousel-control-icon-width: 20px !default;

// Tables
$table-cell-padding: 0.75rem 0 !default;
$table-border-width: 2px !default;
$table-border-color: $lightdark_50 !default;
$table-head-color: $primary !default;

// Spacers
$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 4
  )
);

// Container Max Widths
$container-max-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
